
#background{
    --background: rgb(7, 31, 53);
}

#list{
    width: 350px;
    font-family: 'QuickSand';

}
#track{
    height: 100px;
    width: 1500px;
    --background: rgb(11, 40, 65);
    --border-radius: 50px;
}

#albumImgA{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -110px;
    box-shadow: 0 18px 28px rgba(0, 0, 0, 0.2);
}

#albumImg{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -80px;
}

#albumImgJC{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -30px;
}

#albumImgJM{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -60px;
}

#albumImgGB{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -90px;
}

#albumImgCW{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-width: 1px;
    margin-left: -100px;
}

#details{
    margin-left: 10px;
}



