ion-icon{
    color: rgb(255, 255, 255)
}

#albumCov{
    height: 300px;
    width: 300px;
    margin-top: 5vh;
    margin-left: 4vh;
    border-radius: 10px;
    box-shadow: 0 18px 28px rgba(0, 0, 0, 0.2);
}

.react-audio-player{
    margin-top: 5vh;
    margin-left: 4vh;
    background-color: rgba(0, 0, 0, 0);
}

